@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('../../assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.main {
  width: 100vw;
  height: 100vh;
}

.rock{
  position: absolute;
  z-index: -2;
  top:10vh;
  right:10vw;
}

.bubble{
  position: absolute;
  z-index: -2;
  bottom: 0;
  right:0;
}

.logo{
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

.motto{
  position: absolute;
  top: 20vh;
  right: 12vw;
  color: white;
  letter-spacing: 0.3rem;
  font-family:'Encode Sans Expanded' ;
}

.mottopp{
  top:22vh;
  font-size: 2rem;
  font-weight: 800;
}