@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: black;
  color: #fff;
  height: 1000vh;
  overflow-x: hidden;
}
.main {
  background: url('../../assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -4;
  width: 100vw;
  min-height: 100vh;
}

.rock{
  position: absolute;

  top:10vh;
  right:10vw;
}

.bubble{
  position: absolute;

  bottom: 0;
  right:0;
}

.logo{
  position: absolute;
  top: 0;
  left: 0;
}

.motto{
  position: absolute;
  top: 20vh;
  right: 12vw;
  color: white;
  letter-spacing: 0.3rem;
  font-family:'Encode Sans Expanded' ;
}

.mottopp{
  top:22vh;
  font-size: 2rem;
  font-weight: 800;
}

.part1{
  position: absolute;
  top:100vh;
  height:100vh;
}

.home p{
  font-size: larger;
}

.welcome-msg{
  z-index: 5;
}

.about{
  position: relative;
  top:20vh;
  width:80vw;
  min-height: 40vh;
  border: 1px solid white;
  border-radius: 20px;
  margin:auto;
}